LoadModule wsgi_module /usr/local/lib/python3.5/dist-packages/mod_wsgi/server/mod_wsgi-py35.cpython-35m-arm-linux-gnueabihf.so

WSGIPythonHome /usr
WSGIScriptAlias / /home/pi/Works/dashboard/dashboard/dashboard/wsgi.py
WSGIPythonPath /usr/local/lib/python3.5/dist-packages:/usr/lib/python3/dist-packages

<Directory /home/pi/Works/dashboard/dashboard/dashboard>
  <Files wsgi.py>
    Require all granted
  </Files>
</Directory>
